<div class="panel">
    <div class="panel-body col-xs-12 col-sm-4">
        <div style="width:100px;float:right">
                <span class="glyphicon glyphicon-plus" style="color:green; font-size: 24px"
                      data-toggle="modal" data-target="#addRowModal"></span>
                <span class="glyphicon glyphicon-trash" style="color:red; font-size: 24px"
                      ng-click="clear()"></span>
        </div>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th colspan="100%">
                    Email
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in list">
                <td>
                    {{row.name}}
                </td>
                <td>
                    {{row.phone}}
                </td>
                <td>
                    {{row.mail}}
                </td>
                <td>
                            <span class="glyphicon glyphicon-minus" style="color:red; font-size: 24px"
                                  ng-click="deleteRow(row)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addRowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                <div>
                    <label>Name</label>
                    <input type="text" class="form-control"placeholder="ie. John Doe" ng-model="name">
                </div>

                <div>
                    <label>Phone</label>
                    <input type="text" class="form-control" placeholder="ie. 06-12340005 or 020-1231234" ng-model="phone">
                </div>

                <div>
                    <label>Mail</label>
                    <input type="text" class="form-control" placeholder="ie. 06-12340005 or 020-1231234" ng-model="mail">
                </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary"  ng-click="addRow(name, phone, mail)">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>