<!DOCTYPE html>
<html lang="en" ng-app="test-app">
<head>
    <meta charset="UTF-8">
    <title>My Sample Application</title>


    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/cucumber/release/cucumber.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>

    <script src="test.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="TestController">
    <div class="panel">
        <div class="panel-body" id="contacts-panel">
            <span  ng-repeat="feature in features" style="margin-right: 20px">
                <button id="run-feature" class="btn btn-success" ng-click="runFeature(feature)">Test {{feature.name}}</button>
            </span>

            <h2>Website</h2>
            <iframe src="index.html" style="width: 100%; height: 50vh">

            </iframe>

            <h2>Output</h2>
            <div id="output" class="cucumber-report"></div>


            <div id="errors-container">
                <h3>Errors</h3>
                <pre id="errors"></pre>
            </div>
        </div>
    </div>
</body>
</html>