<div>
    <line-chart ng-repeat="campaign in campaigns"
                ng-if="(singleCampaign && selectedCampaign == campaign) || !singleCampaign"
                campaign="campaign"
                fundraiser="fundraiser"
                category="category">
    </line-chart>
</div>
