<!DOCTYPE html>
<html ng-app="dashboardApp">
<head ng-controller="HeadController">
    <script lang="en"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="60">-->
    <title>{{getTitle()}}</title>

    <script src="js/jquery/jquery-2.1.3.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <link href="js/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/collapse.js"></script>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/jquery/DropdownMenu.js"></script>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>

    <script src="js/highcharts/highcharts.js"></script>
    <script src="js/highcharts/highcharts-ng.js"></script>

    <!-- New modules -->
    <script src="modules/app.js"></script>
    <script src="modules/services/module.js"></script>
    <script src="modules/summary/module.js"></script>
    <script src="modules/heading/module.js"></script>
    <script src="modules/yearchart/module.js"></script>
    <script src="modules/health/module.js"></script>
    <script src="modules/fundraiser/module.js"></script>
    <link href="css/style.css" rel="stylesheet">

    <script src="js/themes/HighChartsThemeBGLOrders.js"></script>
    <script src="js/themes/HighChartsThemeBGLLeads.js"></script>
    <script src="js/themes/HighChartsThemeVLOrders.js"></script>
    <script src="js/themes/HighChartsThemeVLLeads.js"></script>
    <script src="js/themes/HighChartsThemeNPLOrders.js"></script>
    <script src="js/themes/HighChartsThemeNPLLeads.js"></script>
    <script src="js/themes/HighChartsThemeYearOrders.js"></script>
    <script src="js/themes/HighChartsThemeYearLeads.js"></script>
    <script src="js/themes/HighChartsThemePi.js"></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" ng-controller="MenuController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html#/orders" class="navbar-brand">Orders</a>
                <a href="index.html#/leads" class="navbar-brand">Leads</a>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="pathContains('loterijen')">
                        <a class="dropdown-toggle" data-toggle="dropdown">Selecteer<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="ignore-collapse" ng-click="setConfig('all', 'year')" ng-class="{active: isActive('all', 'year')}">Alles in jaren</a>
                                <a class="ignore-collapse" ng-click="setConfig('year', 'month')" ng-class="{active: isActive('year', 'month')}">Jaar in maanden</a>
                                <a class="ignore-collapse" ng-click="setConfig('year', 'week')" ng-class="{active: isActive('year', 'week')}">Jaar in weken</a>
                                <a class="ignore-collapse" ng-click="setConfig('month', 'day')" ng-class="{active: isActive('month', 'day')}">Maand in dagen</a>
                                <a class="ignore-collapse" ng-click="setConfig('week', 'day')" ng-class="{active: isActive('week', 'day')}">Week in dagen</a>
                                <a class="ignore-collapse" ng-click="setConfig('day', 'hour')" ng-class="{active: isActive('day', 'hour')}">Dag in uren</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="!isActive('all', 'year')">
                        <div id="chartSelection">
                            <span class="input-group" ng-if="isActive('year','month') || isActive('year', 'week') || isActive('day', 'hour') || isActive('month', 'day') || isActive('week', 'day')">
                                <span class="input-group-addon">Jaar</span>
                                <input type="text" class="form-control" ng-model="year" ng-change="changeYear(year)">
                            </span>
                            <span class="input-group" ng-if="isActive('month', 'day') || isActive('day', 'hour')">
                                <select ng-model="month" ng-options="digit as name for (digit, name) in monthToNumber"
                                        ng-change="changeMonth(month)">
                                    <option style="display:none" value="">Kies maand</option>
                                </select>
                            </span>
                            <span class="input-group" ng-if="isActive('week', 'day')">
                                <span class="input-group-addon">Week</span>
                                <input type="text" class="form-control" ng-model="week" ng-change="changeWeek(week)">
                            </span>
                            <span class="input-group" ng-if="isActive('day', 'hour')">
                                <span class="input-group-addon">Dag</span>
                                <input type="text" class="form-control" ng-model="day" ng-change="changeDay(day)">
                            </span>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Loterijen <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="fundraiser in availableFundraisers">
                                <a ng-href="index.html#/{{category}}/loterijen/{{fundraiser}}">{{fundraiser | translateFundraiser}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="fundraiser">
                        <a class="dropdown-toggle" data-toggle="dropdown">Campagnes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="campaign in campaigns">
                                <a ng-href="index.html#/{{category}}/loterijen/{{fundraiserUrlPart}}/{{campaign}}">{{campaign}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-view class="container-fluid main-view"></div>
</body>
</html>