<div class="row">
    <h4 ng-if="category== orders">Orders</h4>
    <h4 ng-if="category== leads">Leads</h4>
</div>
<div class="row">
    <summary-widget fundraiser="BGL" category="category"></summary-widget>
    <summary-widget fundraiser="NPL" category="category"></summary-widget>
    <summary-widget fundraiser="VL" category="category"></summary-widget>
</div>

<div class="row" ng-if="category== orders">
    <health-widget></health-widget>
</div>

<year-chart category="category"></year-chart>

<div class="row">
    <heading-widget category="category"></heading-widget>
</div>


