
<div class="col-lg-4 col-md-4">
    <div class="panel {{backgroundColor}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img src="{{logoUrl}}" height="40" width="120" style="margin-top: 57px">
                </div>
                <div class="col-xs-9 text-right">
                    <div>Totaal: <span class="huge">{{total.amount}}</span></div>
                    <div>Dit Jaar: <span class="huge">{{thisYear.amount}}</span></div>
                    <div>Deze maand: <span class="huge">{{thisMonth.amount}}</span></div>
                    <div>Deze week: <span class="huge">{{thisWeek.amount}}</span></div>
                    <div>Vandaag: <span class="huge">{{thisDay.amount}}</span></div>
                    <div>Dit uur: <span class="huge">{{thisHour.amount}}</span></div>
                </div>
            </div>
        </div>
        <a href="index.html#/{{category}}/loterijen/{{fundraiser}}">
            <div class="panel-footer">
                <span class="pull-left">{{fundraiser}} Statistieken </span>
                <i class="fa fa-arrow-circle-right"></i>
                <span class="pull-right"> <img src="img/APIlogo.png" width="90" height="17"></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
