<div class="col-md-12" style="margin-bottom: 30px;">
    <h3 style="text-align: center">API Health controle aankopen ({{serviceWindow.startHour}}:00 - {{serviceWindow.endHour}}:00)</h3>

    <div ng-if="serviceWindow.inServiceWindow" style="margin-left: auto; margin-right: auto; width: 400px">
        <div style="font-size: 1.2em">
            <label style="width:180px">Dit uur:</label>
            <span>{{ stats.hour.success }} uit {{ stats.hour.total }} gelukt</span>
            <span ng-if="stats.hour.total != 0">({{ stats.hour.success / stats.hour.total * 100 | number:2 }}%)</span>
            <span ng-if="stats.hour.total == 0">(0.00%)</span>
        </div>

        <div style="font-size: 1.2em">
            <label style="width:180px">Vanaf {{serviceWindow.startHour}}:00:</label>
            <span>{{ stats.day.success }} uit {{ stats.day.total }} gelukt </span>
            <span ng-if="stats.day.total != 0">({{ stats.day.success / stats.day.total * 100 | number:2 }}%)</span>
            <span ng-if="stats.day.total == 0">(0.00%)</span>
        </div>

        <div style="font-size: 1.2em">
            <label style="width:180px">Afgelopen 7 dagen:</label>
            <span>{{ stats.lastWeek.success }} uit {{ stats.lastWeek.total }} gelukt </span>
            <span>({{ stats.lastWeek.success / stats.lastWeek.total * 100 | number:2 }}%)</span>
        </div>
    </div>

    <div ng-if="!serviceWindow.inServiceWindow" style="font-size: 1.2em; margin-left: auto; margin-right: auto; width: 550px">
        De API Health controle wordt alleen weergegeven tussen 08:00 uur en 00:00 uur.<br/>
        Vanaf {{serviceWindow.startHour}}:00 is de controle weer zichtbaar.
    </div>
</div>