<div class="col-md-12" ng-if="isOrders()">
    <h3 class="heading-widget">
        In {{years[0]}} zijn er tot op heden {{values[years[0]]}} loten verkocht via de API. <br/>
        In {{years[1]}} waren dat er {{values[years[1]]}}. <br/>
        En in {{years[2]}} waren dat er {{values[years[2]]}}.
    </h3>
</div>

<div class="col-md-12" ng-if="isLeads()">
    <h3 class="heading-widget" >
        In {{years[0]}} zijn er tot op heden {{values[years[0]]}} leads verzameld via de API. <br/>
        In {{years[1]}} waren dat er {{values[years[1]]}}. <br/>
        En in {{years[2]}} waren dat er {{values[years[2]]}}.
    </h3>
</div>