<div class="row chart-{{fundraiser}}" style="margin-left:-15px !important; margin-right:-15px !important;">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <highchart config="chart.cfg"></highchart>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 sidebar" style="padding:0 !important; margin: 0 !important">
        <section class="text">
            <p>{{sidebarText()}}</p>
        </section>
    </div>
    <div class="visible-xs col-xs-12 sidebarStyleMini">
        {{sidebarText()}}
    </div>
</div>
